h1{
    font-size: 65px;
    color: orangered;
    font-family: sans-serif;
}

ul{
    background-color: rgb(54, 52, 52);
    line-height: 200%;
}

p{
    font-weight: 3em;
    font-style: italic;
    text-align: center;
    text-decoration: underline;
}

#azul{
    color: blue;
}

#preto{
    color: black;
}

#roxo{
    color: purple;
}

#cinza{
    color: grey;
}

#branco{
    color: white;
}
