.title{
  text-align: center;
}

.App{

}

.pokemons{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemon{
  border: 1px black solid;
  height: 10%;
  width: 15%;
  padding: 20px;
  margin: auto;
  margin-top: auto;
}